.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: url("https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  min-height: 100vh;
}
header {
  display: flex;
  margin-left: 10px;
}
.popcorn {
  width: 80px;
}
#shoppies {
  text-align: left;
  color: white;
  font-size: 30px;
}
li {
  list-style-type: decimal;
}
.box {
  display: flex;
  justify-content: center;
}

.nominee-list,
.movie-list {
  min-width: 35vw;
  margin: 20px;
  background: rgba(255, 255, 255, 0.616);
  box-shadow: 0px 0px 8px #141414;
  text-align: left;
  padding-left: 25px;
  border-radius: 2px;
}

.search-section {
  background-color: white;
  background-image: url("https://images.unsplash.com/photo-1512149074996-e923ac45be6a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-position: center;
  background-size: cover;
  display: block;
  width: 75vw;
  color: white;
  align-self: center;
  padding: 10px;
  text-align: left;
  box-shadow: 0px 0px 8px #141414;
  justify-content: center;
  border-radius: 2px;
}
.label-search {
  text-align: left;
}
.search-section input {
  width: 85%;
}
button {
  margin: 10px;
  min-height: 35px;
  min-width: 80px;
  border-radius: 3px;
  background-color: rgba(224, 224, 224, 0.849);
  border: 1px solid rgba(216, 218, 219, 0.671);
}
button:hover {
  background-color: rgba(253, 253, 253, 0.849);
  cursor: pointer;
}
input {
  height: 30px;
  border: 1px solid #d8dce0;
  border-radius: 2px;
}
